.DS_Store
.idea
.vscode
.acm
.dockerignore
.editorconfig
.env
.env.example
.git
.gitattributes
.gitignore
.gitlab
.gitlab-ci.yml
.php-cs-fixer.*
phpstan.neon
phpstan-baseline.neon
sonar-project.properties
docker-bake.hcl
phpunit.*
.phpunit.*
Dockerfile
README.md
runtime
tests
