Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.idea/
.vscode/
nbproject/
/vendor/
composer.lock
.phpdoc/
phpdoc.xml
.php-cs-fixer.cache
.phpstan.neon
phpunit.xml
.phpunit.result.cache
.env
limits.yml.local
slsconfigs.yml.local
